In [1]:
%pylab inline

%load_ext autoreload
%autoreload 2

import pandas as pd
from py2neo import Graph
import itertools
pd.options.display.max_columns = 100

Populating the interactive namespace from numpy and matplotlib

In [2]:
graph = Graph('http://localhost:7474')

In [3]:
query = 'MATCH p = (source)--(destination) RETURN source, source.name, source.known_terrorist, avg(destination.known_terrorist)'
df = pd.DataFrame(graph.data(query))
df.head()

,avg(destination.known_terrorist),source,source.known_terrorist,source.name
0,0.250000,"{'name': 'Terrorist', 'person': '8', 'known_te...",1,Terrorist
1,0.000000,"{'name': 'Charlie', 'person': '3', 'known_terr...",0,Charlie
2,0.333333,"{'name': 'David', 'person': '4', 'known_terror...",0,David
3,0.250000,"{'name': 'Esther', 'person': '5', 'known_terro...",0,Esther
4,0.600000,"{'name': 'Fanny', 'person': '6', 'known_terror...",0,Fanny

query permutations
- directedness
- levels of depth
- type of connection

As the query already handles 3 queries at once, one would only need to loop over the data below:

In [4]:
df_all = None
r = itertools.product(*[
                         ['1','2','3', '1..2', '1..3'],
                         ['undirected', 'src->dst', 'src<-dst']])
for depth, direction in r:
    print((depth, direction))
    if 'src->dst' == direction:
        print('dsfsfdsf')
        dir_to_dest = '>'
        dir_to_src = ''
    elif 'src<-dst' == direction:
        dir_to_dest = ''
        dir_to_src = '<'
    else:
        dir_to_dest = ''
        dir_to_src = ''
    query = f"""
MATCH p = (source:Person){dir_to_src}-[:call|text*{depth}]-{dir_to_dest}(destination:Person)
RETURN 
  source.name as Vertex, 
  source.known_terrorist as known_terrorist,
  apoc.coll.avg(COLLECT(
    CASE WHEN ALL(r in relationships(p) where type(r)='call') THEN destination.known_terrorist ELSE NULL END
  )) as type_undir_1_call,
  apoc.coll.avg(COLLECT(
    CASE WHEN ALL(r in relationships(p) where type(r)='text') THEN destination.known_terrorist ELSE NULL END
  )) as type_undir_1_text,
  apoc.coll.avg(COLLECT(
    destination.known_terrorist
  )) as type_undir_1_any
"""
    #print(query)
    df = pd.DataFrame(graph.data(query))
    df['type'] = f'{depth}_{direction}'
    if df_all is None:
        df_all = df
    else:
        df_all = pd.concat([df_all, df])
    # display(df.head())
df_all.head()

('1', 'undirected')
('1', 'src->dst')
dsfsfdsf
('1', 'src<-dst')
('2', 'undirected')
('2', 'src->dst')
dsfsfdsf
('2', 'src<-dst')
('3', 'undirected')
('3', 'src->dst')
dsfsfdsf
('3', 'src<-dst')
('1..2', 'undirected')
('1..2', 'src->dst')
dsfsfdsf
('1..2', 'src<-dst')
('1..3', 'undirected')
('1..3', 'src->dst')
dsfsfdsf
('1..3', 'src<-dst')

,Vertex,known_terrorist,type_undir_1_any,type_undir_1_call,type_undir_1_text,type
0,Gabby,0,1.000000,NaN,1.0,1_undirected
1,Esther,0,0.250000,0.5,0.0,1_undirected
2,Charlie,0,0.000000,NaN,0.0,1_undirected
3,David,0,0.333333,0.5,0.0,1_undirected
4,Terrorist,1,0.250000,0.5,0.0,1_undirected

reshape the `pandas.DataFrame`from long to wide

In [5]:
p = df_all.pivot('Vertex', 'type')
p

          known_terrorist                                              \
type        1..2_src->dst 1..2_src<-dst 1..2_undirected 1..3_src->dst
Vertex
Alice                 1.0           1.0             1.0           1.0
Bob                   0.0           0.0             0.0           0.0
Charlie               0.0           0.0             0.0           0.0
David                 0.0           0.0             0.0           0.0
Esther                0.0           0.0             0.0           0.0
Fanny                 0.0           0.0             0.0           0.0
Gabby                 0.0           NaN             0.0           0.0
Terrorist             1.0           1.0             1.0           1.0

                                                                            \
type      1..3_src<-dst 1..3_undirected 1_src->dst 1_src<-dst 1_undirected
Vertex
Alice               1.0             1.0        1.0        1.0          1.0
Bob                 0.0             0.0        0.0        0.0          0.0
Charlie             0.0             0.0        0.0        0.0          0.0
David               0.0             0.0        0.0        0.0          0.0
Esther              0.0             0.0        0.0        0.0          0.0
Fanny               0.0             0.0        0.0        0.0          0.0
Gabby               NaN             0.0        0.0        NaN          0.0
Terrorist           1.0             1.0        1.0        1.0          1.0

                                                                    \
type      2_src->dst 2_src<-dst 2_undirected 3_src->dst 3_src<-dst
Vertex
Alice            1.0        1.0          1.0        1.0        1.0
Bob              0.0        0.0          0.0        NaN        0.0
Charlie          0.0        0.0          0.0        NaN        0.0
David            0.0        0.0          0.0        0.0        0.0
Esther           0.0        0.0          0.0        0.0        0.0
Fanny            0.0        0.0          0.0        0.0        0.0
Gabby            0.0        NaN          0.0        0.0        NaN
Terrorist        1.0        1.0          1.0        1.0        1.0

                       type_undir_1_any                                \
type      3_undirected    1..2_src->dst 1..2_src<-dst 1..2_undirected
Vertex
Alice              1.0         0.142857      0.000000        0.066667
Bob                0.0         0.000000      0.166667        0.181818
Charlie            0.0         0.000000      0.333333        0.454545
David              0.0         0.285714      0.333333        0.307692
Esther             0.0         0.428571      0.200000        0.437500
Fanny              0.0         0.333333      0.428571        0.368421
Gabby              0.0         0.500000           NaN        0.400000
Terrorist          1.0         0.500000      0.333333        0.350000

                                                                             \
type      1..3_src->dst 1..3_src<-dst 1..3_undirected 1_src->dst 1_src<-dst
Vertex
Alice          0.375000      0.200000        0.311111   0.333333   0.000000
Bob            0.000000      0.300000        0.344828   0.000000   0.500000
Charlie        0.000000      0.285714        0.333333   0.000000   0.000000
David          0.333333      0.200000        0.358974   0.500000   0.000000
Esther         0.285714      0.285714        0.304348   0.000000   0.500000
Fanny          0.363636      0.214286        0.295082   0.666667   0.500000
Gabby          0.250000           NaN        0.133333   1.000000        NaN
Terrorist      0.400000      0.388889        0.296296   0.000000   0.333333

                                                                      \
type      1_undirected 2_src->dst 2_src<-dst 2_undirected 3_src->dst
Vertex
Alice         0.200000   0.000000   0.000000     0.000000   0.555556
Bob           0.333333   0.000000   0.000000     0.125000        NaN
Charlie       0.000000   0.000000   0.500000     0.625000        NaN
David         0.333333   0.200000   0.500000     0.300000   0.375000
Esther        0.250000   0.600000   0.000000     0.500000   0.142857
Fanny         0.600000   0.000000   0.400000     0.285714   0.400000
Gabby         1.000000   0.333333        NaN     0.250000   0.000000
Terrorist     0.250000   0.666667   0.333333     0.375000   0.000000

                                  type_undir_1_call                \
type      3_src<-dst 3_undirected     1..2_src->dst 1..2_src<-dst
Vertex
Alice       0.500000     0.433333              0.25      0.000000
Bob         0.500000     0.444444               NaN      0.500000
Charlie     0.250000     0.272727               NaN           NaN
David       0.000000     0.384615              0.50      0.500000
Esther      0.500000     0.233333              0.50      0.500000
Fanny       0.000000     0.261905              1.00           NaN
Gabby            NaN     0.000000               NaN           NaN
Terrorist   0.444444     0.264706               NaN      0.333333

                                                                       \
type      1..2_undirected 1..3_src->dst 1..3_src<-dst 1..3_undirected
Vertex
Alice            0.142857           0.4      0.333333        0.333333
Bob              0.500000           NaN      0.333333        0.285714
Charlie               NaN           NaN           NaN             NaN
David            0.500000           0.4      0.333333        0.363636
Esther           0.500000           0.4      0.333333        0.363636
Fanny            1.000000           1.0           NaN        0.400000
Gabby                 NaN           NaN           NaN             NaN
Terrorist        0.200000           NaN      0.250000        0.142857

                                                                    \
type      1_src->dst 1_src<-dst 1_undirected 2_src->dst 2_src<-dst
Vertex
Alice       0.333333        0.0         0.25   0.000000        0.0
Bob              NaN        1.0         1.00        NaN        0.0
Charlie          NaN        NaN          NaN        NaN        NaN
David       1.000000        0.0         0.50   0.333333        1.0
Esther      0.000000        1.0         0.50   1.000000        0.0
Fanny       1.000000        NaN         1.00        NaN        NaN
Gabby            NaN        NaN          NaN        NaN        NaN
Terrorist        NaN        0.5         0.50        NaN        0.0

                                                          type_undir_1_text  \
type      2_undirected 3_src->dst 3_src<-dst 3_undirected     1..2_src->dst
Vertex
Alice         0.000000   1.000000        1.0          1.0               NaN
Bob           0.333333        NaN        0.0          0.0          0.000000
Charlie            NaN        NaN        NaN          NaN          0.000000
David         0.500000   0.000000        0.0          0.2          0.000000
Esther        0.500000   0.333333        0.0          0.2          0.333333
Fanny         1.000000        NaN        NaN          0.0          0.250000
Gabby              NaN        NaN        NaN          NaN          1.000000
Terrorist     0.000000        NaN        0.0          0.0          0.333333

                                                                     \
type      1..2_src<-dst 1..2_undirected 1..3_src->dst 1..3_src<-dst
Vertex
Alice          0.000000        0.000000           NaN         0.000
Bob            0.000000        0.000000      0.000000         0.200
Charlie        0.200000        0.250000      0.000000         0.125
David               NaN        0.000000      0.250000           NaN
Esther         0.000000        0.400000      0.200000         0.000
Fanny          0.250000        0.222222      0.166667         0.200
Gabby               NaN        1.000000      1.000000           NaN
Terrorist      0.333333        0.250000      0.250000         0.250

                                                                         \
type      1..3_undirected 1_src->dst 1_src<-dst 1_undirected 2_src->dst
Vertex
Alice            0.000000        NaN        0.0          0.0        NaN
Bob              0.333333        0.0        0.0          0.0        0.0
Charlie          0.153846        0.0        0.0          0.0        0.0
David            0.400000        0.0        NaN          0.0        0.0
Esther           0.222222        0.0        0.0          0.0        0.5
Fanny            0.133333        0.5        0.5          0.5        0.0
Gabby            1.000000        1.0        NaN          1.0        NaN
Terrorist        0.142857        0.0        0.0          0.0        0.5


type      2_src<-dst 2_undirected 3_src->dst 3_src<-dst 3_undirected
Vertex
Alice            NaN          NaN        NaN        NaN          NaN
Bob         0.000000     0.000000        NaN        0.5     0.666667
Charlie     0.333333     0.400000        NaN        0.0     0.000000
David            NaN     0.000000        0.5        NaN     0.666667
Esther           NaN     0.666667        0.0        NaN     0.000000
Fanny       0.000000     0.000000        0.0        0.0     0.000000
Gabby            NaN          NaN        NaN        NaN          NaN
Terrorist   0.500000     0.333333        0.0        0.0     0.000000